.online {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #BF374C;
    border-radius: 50%;
}

[data-online="true"] {
    background-color: #10954A;
}

.avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    color: #ffffff;
    font-weight: 600;
    font-size: 28px;
}